* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-family: proxima-nova, sans-serif;
}

body {
    width: 100%;
    background-image : url(../images/abstract-art-background-925743.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-color: #E0E0E0;
}

.wrapper {
    width : 90%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    color: #333333;
    font-size: 48px;
}

p {
    color: #333333;
    font-size: 16px;
}

ul {
    list-style: none;
    margin-top: 30px;
}

li {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

nav {
    height: 100px;
    line-height: 100px;
    margin-top: 20px;
}

nav a {
    color: #333333;
    text-decoration: none;
}

nav a img {
    vertical-align: middle;
    max-width: 200px;

}

nav a:nth-child(2) {
    float: right;
}

header {
    margin: 100px 0 200px 0;
    text-align: center;
}

header p {
    width: 45%;
    margin: 30px auto 0 auto;
}

header a {
    color: #FF4A5E;
    text-decoration: none;
}

.work {
    text-align: center;
    width: 100%;
}

.work a img {
    margin: 1%;
    width: 45%;
}

.whatIDo {
    text-align: center;
    margin: 100px 0 200px 0;
    position: relative;
}

.whatIDo h1{
    color: #FF4A5E;
}

.iAm {
    color: #13A3FD;
    font-size: 150px;

}

.work2 {
    width: 100%;
    text-align: center;
}

.work2 a img {
    margin: 1%;
    width: 92%
}

footer {
    text-align: center;
    margin: 60px 0;
}

footer {
    color: #404348;
}

@media only screen and (max-width:991px) {
    header p {
        width: 100%;
    }
    .work a img {
        margin: 2%;
        width: 96%;
    }

    .work2 a img {
        margin: 2%;
        width: 96%;
    }
}
@media only screen and (max-width: 768px) {

    header {
        width: 96%;
        margin: 30px auto 100px auto;
        text-align: left;
    }
    .whatIDo {
        text-align: left;
        width: 96%;
        margin: 70px auto 100px auto;
    }
    .iAm {
        visibility: hidden;
    }

    footer {
        text-align: left;
        width: 96%;
        margin: 60px auto;
    }
}
