* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-family: proxima-nova, sans-serif;
}

body {
    width: 100%;
    background-color: #E0E0E0;
}

.black_background {
    background-color: black;
    color: white;
}

.wrapper {
    width : 90%;
    margin: 0 auto;
}
.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: #E0E0E0;
    color: black;
}

.active {
    background-color:  #404348;
    color: white;
}

.topnav .icon {
    display: none;
}

h1 {
    color: #333333;
    font-size: 48px;
}

header {
    margin: 50px 0 100px 0;
    text-align: center;
}

header p {
    color: #333333;
    font-size: 20px;
}

header img {
    max-height: 200px;
    margin-bottom: 50px;
}

.what_i_do {
    text-align: center;
    margin: 0 0 100px 0;
    padding: 100px 0 100px 0;
    position: relative;
}

.what_i_do h1{
    color: #FF4A5E;
}

.what_i_do h2{
    color:  #404348;
    font-size: 150px;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    font-size: 16px;
    margin-bottom: 20px;
}

.slides {
    position: relative;
    margin: 0 0 100px 0;
    text-align: center;
}

.slides h2 {
    color: #333333;
    font-size: 48px;
    margin-bottom: 20px;
}

.slides a {
    float: none;
}

.mySlides {
    display:none;
    text-align: center;
    width: 45%;
    margin: auto;
}

.mySlides img{
    width: 96%;
}

.slide_button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #333333;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 150px;
}

.slide_button_left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}

.slide_button_right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
}

.aboutText {
    text-align: justify;
    font-size: 24px;
}

.whoIAm {
    width: 60%;
    margin: 100px auto 100px auto;
    white-space: initial;
}

#profilePicture {
    float: right;
    margin-left: 30px;
}

footer {
    text-align: center;
    padding: 100px 0 100px 0;
    background-color: black;
    color: white;
}

footer p {
    color: white;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    width: 33%;
    background-color: #f2f2f2;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.project h2 {
    text-align: center;
    text-decoration: underline;
}

.project img{
    display: block;
    margin: 10px auto 10px auto;
    width: 96%;
}

.project p {
    text-align: justify;
    margin: 10px auto 10px auto;
}

@media only screen and (max-width:991px) {
    .wrapper {
        width: 96%;
    }
    .topnav  a {
        float: none;
        display: block;
    }
    .slides {
        margin: 0 0 200px 0;
    }
    .slide_button {
        font-size: 100px;
    }

    .slide_button_left {
        position: static;
        float:left;
        transform:none;
    }

    .slide_button_right {
        position: static;
        float: right;
        transform:none;
    }
    .mySlides {
        margin: 2%;
        width: 96%;
    }
    .whoIAm {
        width: 96%;
    }

    #profilePicture {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .what_i_do h2 {
        font-size: 50px;
    }

}
